$theme-colors: (
  "primary": #4b866c
);
$bg-color: #3a4049;
$text-color: grey;
$x51red: #b70000;
//$bg-color: rgb(255, 255, 255);
$ft-color: rgba(233, 233, 233, 0.678);
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
//@import "./_customvariables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$assetPath : "/images";
html {
      position: relative;
      min-height: 100%;
}
wrapper {

    min-height:100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

body {
    background: $bg-color;
    color: $text-color;
    font-family: Anton;
    min-height:100vh;
   

//    #jumboheader{
//        color: black;
//        font-family: Anton;
//        height:100px;
//        background-size: cover;
//        background-repeat: no-repeat;
//        background-image: file-loader("images/Logo_Black_transparent_red2.png");
//        background-color: $x51red;
//    }
.img{
    opacity: 0.5;
}
    .jumbotron {
      color: black;
      height: 200px;
      display: flex;
      align-items: center;
      text-align: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin:  0px;
      background-color: $x51red;
//      padding-left: 50px
//  background-image: url-loader("../images/Logo_Black_transparent_red2.png") center center;
}

    .footer{
        position: absolute;
        width:100%;
        text-align:center;
        background-color: $x51red;
    }
    .btn.sharp {
        border-radius:0;
    }
    .fa {
        font-size: 44px;
    }
    .cover {
        padding: 0 1.5rem;
    }
        .cover .btn-lg {
        padding: .75rem 1.25rem;
        font-weight: 700;
    }
    //html { visibility:hidden; } //hide html until js is loaded.
  .row {
    display: flex; /* equal height of the children */
  }

  .col {
    flex: 1; /* additionally, equal width */
  
    padding: 1em;
    border: solid;
}
    .fade.in {
      opacity: 1;
    }
    .modal.in .modal-dialog {
      -webkit-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    .modal-backdrop.in {
      opacity: 0.5;
    }
}
